@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <div class="text-center">
        <h2>Employee Portal</h2>
    </div>
    <div class="container">
        <div class="row">
            <div>
                <h2>Action List</h2>
                <ul>
                    <li><a href="Employee/Create">Create New Employee</a></li>
                    <li><a href="Employee/Index">Read Employee Data</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</div>